<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
     <session-factory>
        <property name="connection.provider_class">org.hibernate.proxool.internal.ProxoolConnectionProvider</property>
        <property name="hibernate.proxool.xml">com/nt/cfgs/proxool.cfgs.xml</property>
        <property name="hibernate.proxool.pool_alias">pool1</property> 
        
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        
        <mapping resource="com/nt/cfgs/Employee.hbm.xml"/>
    </session-factory> 
    
  <!-- <session-factory>
     <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql:///nthb98db</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping resource="com/nt/cfgs/Employee.hbm.xml"/>
   </session-factory>  -->
   
    
</hibernate-configuration>